
.main_winkelmandje_section-udemy{
    display: flex;
    justify-content: center;
    position: relative;
    height: 5rem;
    width:53%;
    bottom: 32rem;

    .main_h2_winkelmand-udemy{
        width: 25ch;
        font-weight: bolder;
        font-size: 3rem;
    }

    .main_p_winkelmand-udemy{
        width: 38ch;
    }

    .main_div_winkelmandje-udemy{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 1.5rem;
        padding: 2rem;
        width: 42.5rem;
        height: 20rem;
        background: white;
        box-shadow: 0rem 0rem 1rem 0.5rem rgba(0,0,0,0.1);
    }
}

.udemy_main-section{
    display: flex;
    justify-content: center;
    align-items: center;

    .main_foto_section-udemy{
        width: 85%;
        height: 40rem;
        object-fit: cover;
    }    
}
